<div>Broad Firehose Version: <%= Version::CURRENT_VERSION.data_set.analysis_date %> </div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Cancer Types</th>
    <th>Total Samples</th>
    <th>#Samples-Genes</th>
    <th>#Samples-Proteins</th>
    <th>#Samples-miRNA</th>
  </tr>
  </thead>
  <tbody>
  <% @cancer_types.each do |ct| %>
      <% sample_counts = @cancer_sample_counts.find(ct.id) %>
      <tr>
        <td><%= ct.abbreviation %></td>
        <td><%= sample_counts.sample_count %></td>
        <td><%= sample_counts.sample_gene_count %></td>
        <td><%= sample_counts.sample_protein_count %></td>
        <td><%= sample_counts.sample_mir_count %></td>
      </tr>
  <% end %>
  </tbody>
</table>