<div>Broad Firehose Version: Version::CURRENT_VERSION.release_date </div>
<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr>
    <th>Cancer Types</th>
    <th>Total Samples</th>
    <th>#Samples-Genes</th>
    <th>#Samples-Proteins</th>
    <th>#Samples-miRNA</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>ACC</td>
    <td>92</td>
    <td>75</td>
    <td>80</td>
    <td>46</td>
  </tr>
  <tr>
    <td>BLCA</td>
    <td>412</td>
    <td>388</td>
    <td>409</td>
    <td>127</td>
  </tr>
  <tr>
    <td>BRCA</td>
    <td>1098</td>
    <td>945</td>
    <td>755</td>
    <td>410</td>
  </tr>
  <tr>
    <td>CESC</td>
    <td>307</td>
    <td>190</td>
    <td>307</td>
    <td>173</td>
  </tr>
  <tr>
    <td>COADREAD</td>
    <td>628</td>
    <td>476</td>
    <td>295</td>
    <td>461</td>
  </tr>
  <tr>
    <td>ESCA</td>
    <td>185</td>
    <td>0</td>
    <td>184</td>
    <td>126</td>
  </tr>
  <tr>
    <td>GBM</td>
    <td>610</td>
    <td>111</td>
    <td>0</td>
    <td>214</td>
  </tr>
  <tr>
    <td>HNSC</td>
    <td>528</td>
    <td>496</td>
    <td>486</td>
    <td>212</td>
  </tr>
  <tr>
    <td>KICH</td>
    <td>66</td>
    <td>66</td>
    <td>66</td>
    <td>0</td>
  </tr>
  <tr>
    <td>KIRC</td>
    <td>537</td>
    <td>446</td>
    <td>254</td>
    <td>454</td>
  </tr>
  <tr>
    <td>KIRP</td>
    <td>291</td>
    <td>161</td>
    <td>291</td>
    <td>207</td>
  </tr>
  <tr>
    <td>LAML</td>
    <td>200</td>
    <td>160</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>LGG</td>
    <td>516</td>
    <td>510</td>
    <td>512</td>
    <td>258</td>
  </tr>
  <tr>
    <td>LIHC</td>
    <td>377</td>
    <td>189</td>
    <td>372</td>
    <td>0</td>
  </tr>
  <tr>
    <td>LUAD</td>
    <td>582</td>
    <td>485</td>
    <td>450</td>
    <td>181</td>
  </tr>
  <tr>
    <td>LUSC</td>
    <td>504</td>
    <td>178</td>
    <td>342</td>
    <td>195</td>
  </tr>
  <tr>
    <td>OV</td>
    <td>605</td>
    <td>216</td>
    <td>453</td>
    <td>412</td>
  </tr>
  <tr>
    <td>PAAD</td>
    <td>185</td>
    <td>145</td>
    <td>178</td>
    <td>106</td>
  </tr>
  <tr>
    <td>PCPG</td>
    <td>179</td>
    <td>161</td>
    <td>179</td>
    <td>79</td>
  </tr>
  <tr>
    <td>PRAD</td>
    <td>498</td>
    <td>419</td>
    <td>494</td>
    <td>0</td>
  </tr>
  <tr>
    <td>SKCM</td>
    <td>470</td>
    <td>290</td>
    <td>351</td>
    <td>169</td>
  </tr>
  <tr>
    <td>STAD</td>
    <td>443</td>
    <td>255</td>
    <td>395</td>
    <td>264</td>
  </tr>
  <tr>
    <td>THCA</td>
    <td>503</td>
    <td>397</td>
    <td>502</td>
    <td>222</td>
  </tr>
  <tr>
    <td>UCEC</td>
    <td>559</td>
    <td>241</td>
    <td>411</td>
    <td>200</td>
  </tr>
  <tr>
    <td>UCS</td>
    <td>57</td>
    <td>56</td>
    <td>56</td>
    <td>48</td>
  </tr>
  </tbody>
</table>
