          <div>Analysis Date: <%= DataSet::ANALYSIS_DATE %></div>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                  <th>Cancer Types</th>
                  <th>Total Samples</th>
                  <th>#Samples-Genes</th>
                  <th>#Samples-Proteins</th>
                  <th>#Samples-miRNA</th>
              </tr>
            </thead>
            <tbody>
              <% @cancer_types.each do |ct| %>

              <% samples_count = @samples.where(cancer_type_id: ct.id).count %>
              <% samples_genes = @gene_values.where(cancer_type_id: ct.id).length %>
              <% samples_proteins = @protein_values.where(cancer_type_id: ct.id).length %>
              <% samples_mirs = @mir_values.where(cancer_type_id: ct.id).length %>
              <tr> 
                <td><%= ct.abbreviation %></td>
                <td><%= samples_count %></td>
                <td><%= samples_genes %></td>
                <td><%= samples_proteins %></td>
                <td><%= samples_mirs %></td>
              </tr>

              <% end %>
            </tbody>
          </table>