<% provide(:title, 'About') %>

<div class="jumbotron">
  <h1>About</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>The Stanford-Cancer Genome Atlas Project is developed and maintained by Ji Research Group at Stanford School of Medicine.</p>
      <hr>
      <h3 style="padding-left:14px;">Project Contributors:</h3>
      <p>
        HoJoon Lee, Phd., Author<br>
        Hanlee Ji, M.D., P.I.<br>
        Jennifer Palm, Web Application<br>
        Sue Grimes, Database modeling advisor<br>
      </p>
      <hr>
      <p>Publication: <%= link_to "Genome Medicine 2015, 7:112", 'http://www.genomemedicine.com/content/7/1/112', target: '_blank' %></p>
                           <!-- style:"font-size:smaller; font-style:italic; font-weight:bold" -->
      <hr>
      <p>Queries and comments: <%= mail_to "pan-tcga-project@stanford.edu" %></p>
    </div><!-- /panel body -->
  </div><!-- /panel -->

  <div class="panel panel-default">
    <div class="panel-body">
	  <h3 style="padding-left:14px;">Version History:</h3>
      <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
          <th>Version</th>
          <th>Release Date</th>
          <th>Broad Firehose</th>
          <th>#Cancer Types</th>
          <th>#Clinical Params</th>
          <th>Displayed Candidates</th>
        </tr>
        </thead>
        <tbody>
        <% @versions.each do |version| %>
            <tr>
              <% if version.version_number == '1.0' and Version::CURRENT_VERSION.version_number != '1.0' %>
                  <td class="text-center"><%= link_to version.version_number, 'http://genomeportal.stanford.edu/pan-tcga-v1', target: '_blank' %></td>
              <% else %>
                  <td class="text-center"><%= version.version_number %></td>
              <% end %>
              <td class="text-center"><%= version.release_date %></td>
              <td class="text-center"><%= version.data_set.analysis_date %></td>
              <td class="text-center"><%= version.nr_cancer_types %></td>
              <td class="text-center"><%= version.nr_clinical_params %></td>
              <td class="text-center"><%= version.candidate_filter %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /panel body -->
  </div><!-- /panel -->
  <% if @versions.size > 1 %>
    <p style="font-size:small; color:cornflowerblue">Previous versions available by clicking on version number above</p>
  <% end %>
</div>




