<% provide(:title, 'Analysis Pipeline') %>

<div class="center jumbotron">
  <h1>Analysis Pipeline</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag("AnalysisPipeLineNew.jpg", style: "width:100%", alt:"analysis pipeline") %>
    </div><!-- /panel body -->
  </div><!-- /panel -->
</div>




