<% provide(:title, 'Data Information') %>
<div class="center jumbotron">
  <h1>Data Information</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <!--%= render 'data_information_query_table' # DO THIS ON INITIAL DATA LOAD, UNCOMMENT QUERIES IN CONTROLLER, RUN, THEN COPY SOURCE TABLE TO 'data_information_table' (sudo-caching) %-->
      <%= render 'data_information_table' %>
    </div><!-- /panel body -->
  </div><!-- /panel -->
</div>


