<% provide(:title, 'Data Download') %>

<div class="center jumbotron">
  <h1>Data Download</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Download Cancer Type Matrix  
      <div id="hint" style="display: inline"><a href="#" title="aggregation of genomic values per sample">(Info)</a></div> [zip]
      </h3>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_tag send_zip_file_path, id: 'download_matrix_zip' do  %>
            <%= label_tag 'sel_clin_param', 'Select Cancer Type Matrix Download', class: 'sr-only' %>
            <div class="input-group input-group-lg">
              <%= select_tag :matrix_cancer_type, 
                    options_for_select(
                      get_cancer_types_for_select.order('abbreviation ASC').collect {|ct| [ ct.abbr_name, ct.abbreviation ] },
                      (params[:matrix_cancer_type] ? params[:matrix_cancer_type] : "")
                    ), 
                    :prompt => "Select Cancer Type Matrix Download",  
                    class: "form-control" %>
              <span class="input-group-btn">
                <%= submit_tag "Go", class: "btn btn-info" %>
              </span>
            </div><!-- /input-group -->
          <% end %><!-- /form --> 
          <div id="error_cp"></div>  
        </div><!-- /col -->
      </div><!-- /row -->

    </div><!-- /panel body -->
  </div><!-- /panel -->
</div>


