<% provide(:title, 'Target Selection') %>

<div class="jumbotron">
  <h1>Target Selection</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Gene Selection</h2>
          <p>
          <ol>
            <li>COSMIC cancer genes: As of February 2014, COSMIC database listed <%= link_to "522 genes", show_target_selection_file_path(filename:'COSMIC_0218_2014.txt') %> as cancer genes that have been implicated in cancer development from the scientific literature. The list of genes, cancer_gene_census.tsv, was downloaded from <%= link_to 'their website', 'http://cancer.sanger.ac.uk/cancergenome/projects/cosmic/download', target: '_blank' %></li>
            <li>Genes from TCGA studies: we included genes with significant mutations or within focal amplifications/deletions according to Broad Firehose analysis (2014_01_16 version).
              <ol style="list-style-type:lower-roman">
                <li>Significantly mutated genes: Broad Firehose used MutSig v2.0. Total <%= link_to "448 genes", show_target_selection_file_path(filename:'MutSig.txt') %> had significant mutations from 17 cancer types with false discover rate < 0.05</li>
                <li>Genes in significant focal copy number change: Broad Firehose used GISTIC 2.0. Total <%= link_to "1,266 genes", show_target_selection_file_path(filename:'GeneDel.txt') %> were in focal deletion while <%= link_to "357 genes", show_target_selection_file_path(filename:'GeneAmp.txt') %> were in focal amplification.</li>
              </ol>
            </li>
          </ol>
          <p><strong><em>Collectively <%= link_to "2,227 genes", show_target_selection_file_path(filename:'TargetGenes.txt') %> genes were included in our study.</em></strong></p>
          </p>
          <h2>miR Selection</h2>
          <p>We included all <%= link_to "413 miR", show_target_selection_file_path(filename:'AllmiR.txt') %> in miR-Sequencing data from 17 cancers</p>
          <h2>Protein selection</h2>
          <p>We included all <%= link_to "528 proteins", show_target_selection_file_path(filename:'Allprotein.txt') %> in RPPA data from 17 cancers</p>
        </div><!-- /panel body -->
      </div><!-- /panel -->
    </div><!-- /col -->
  </div><!-- /row -->
</div>
