<% provide(:title, 'Target Selection') %>

<div class="jumbotron target-selection">
  <h1>Target Selection</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-right">
      <strong>DOWNLOAD: <%= link_to 'CSV', target_selection_send_data_path(filename: @filename) %></strong>
      </div>
      <% theads = @table_array.shift %>
      <table id="target_selection" align="center" class="table table-striped table-condensed table-bordered" style="width:65%">
        <thead>
        <tr>
          <th style="font-weight:bold" colspan="<%= @table_array[0].length %>"><%= @filename.gsub('_', ' ').gsub('.txt', '')%></th>	
        </tr>
        <tr>
          <% theads.each do |heading1| %>
          <th style="padding:2px; font-weight:500"><%= heading1 %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @table_array.each do |row| %>
        <tr>
        	<% row.each do |item| %>
          <td><%= raw item.gsub(',', "<br>") if item %></td>
          <% end %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /panel body -->
  </div><!-- /panel -->
</div><!-- /jumbotron -->
