<% provide(:title, 'Tutorial') %>

<div class="center jumbotron">
  <h1>Tutorial Information</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <iframe src="//www.slideshare.net/slideshow/embed_code/43488141" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
    </div><!-- /panel body -->
  </div><!-- /panel -->
</div>

  

