<!-- this code was formerly used on high level summary panels -->
<%
  if clin_param_sub_cat.blank? 
    modal_target = "#{panel_name}_#{target_set.name}_modal"
    #chart_container_id = "#{panel_name}_#{target_set.name}_chart"
  else
    modal_target = "#{panel_name}_#{clin_param_sub_cat.name}_#{target_set.name}_modal"
    #chart_container_id = "#{panel_name}_#{clin_param_sub_cat.name}_#{target_set.name}_chart"
  end
%>
<%= link_to "Visual Info", '',
    id: 'visual_info', 
    class: 'btn btn-default btn-sm', 
    data: {
        toggle: 'modal', 
        target: "##{modal_target}",
      },
    remote: true %>

<!-- Modal -->
<div class="modal fade" id="<%= modal_target %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= panel_name %><%= " - #{clin_param_sub_cat.name}" unless clin_param_sub_cat.blank? %>, <%= target %></h4>
      </div>
      <div class="modal-body">
      <!--% unless Rails.env == 'development' %-->
        <% @chart_data = high_level_data_analysis(cancer_type, clin_param, target_set) %>
        <%= tag("div", id: "pie_chart_container_#{chart_index}", data: {:'chart-data-array' => @chart_data[0]}, style: "width:100%; height:100%;") %>
      <!--% end %-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>