<p></p>
<% if @high_level_summaries.blank? %>
<div class="alert alert-danger" style="width:35%; padding: 10px; margin-bottom:10px; text-align:center;">
  No data is currently available for <%= @cancer_type.abbreviation %>
</div>
<% else%>

<div class="row">
  <% i = 0 # index for row length %>
  <% @high_level_summaries_target_info_hash.sort.each_with_index do |(key, hi_lev_sum_sub_hash), index| %>
  <% 
    clin_param_name = '' 
    cancer_type_abbr = ''
    panel_name = ''
  %>
  <% if @cancer_type   
       clin_param_name = panel_name = key
     elsif @clinical_parameter
       cancer_type_abbr = panel_name = key
     end
  %>
  <div class="col-md-3">

    <ul class="list-group">

      <li class="list-group-item active"><%= panel_name %></li>

      <li class="list-group-item">
        <table class="table table-condensed">
          <% clin_param_sub_cat_name  = nil %>
          <% hi_lev_sum_sub_hash.each do |key, value| %>
            <% 
              target_info = value # target_info for clin param and subcat if subcat exist
              clin_param_sub_cat_name  = key unless key == nil 
            %>
            <% toggle_id_name = '' %>
            <% if clin_param_sub_cat_name  %>              
              <% toggle_id_name = "hide_info_#{panel_name}_#{clin_param_sub_cat_name}" %>
              <thead>
              <tr>
                <th colspan="2" class="info">
                    <!--%= link_to "#{clin_param_sub_cat_name}", '',
                        data: {toggle: 'collapse', target: '#' + toggle_id_name, remote: true },
                        class: ''
                    %-->
                    <button class="btn btn-info btn-sm btn-block" type="button" data-toggle="collapse" data-target="#<%= toggle_id_name %>" aria-expanded="false" aria-controls="">
                      <%= clin_param_sub_cat_name %>
                    </button>
                </th>
              </tr>
              </thead>
            <% end %>

            <% if target_info %>
              <% if clin_param_sub_cat_name  %>
                <tbody class="collapse" id="<%= toggle_id_name %>">
              <% else %>
                <tbody>
              <% end %>
              <tr>
                <th class="text-center">#Candidates</th>
                <th class="text-center">#Samples</th>
              </tr>
              <% target_raw_names = %w[TargetGenes Allprotein AllmiR] %>
              <% target_info_sorted = target_raw_names.map{ |i| target_info.assoc(i) } %>
              <% target_info_sorted.compact.each_with_index do |info, i| %>
                <%
                  target_name = info[0]
                  num_samples = info[1]
                  num_rank_target_sets = info[2]

                  target = 'Genes' if target_name.match(target_raw_names[0])
                  target = 'Protein' if target_name.match(target_raw_names[1])
                  target = 'miRNA' if target_name.match(target_raw_names[2])
                %>
                <tr>
                  <td>
                    <%
                      cancer_type = CancerType.find_by_abbreviation(cancer_type_abbr)
                      clin_param = ClinicalParameter.find_by_name(clin_param_name)
                      clin_param_sub_cat = ClinicalParameterSubCat.find_by_name(clin_param_sub_cat_name)
                      target_set = TargetSet.find_by_name(target_name)
                    %>
                    <%= link_to "#{target} - #{num_rank_target_sets.gsub(/.*\//,'')}", outcome_summary_path(
                        cancer_type_id: ( cancer_type ? cancer_type.id : nil ),
                        clinical_parameter_id: ( clin_param ? clin_param.id : nil ),
                        clin_param_sub_cat_id: ( clin_param_sub_cat ? clin_param_sub_cat.id : nil ),
                        target_set_id: target_set.id),
                        class: 'btn btn-default btn-sm btn-block' %>
                  </td>
                  <td class="text-center" style="vertical-align:middle"><span class="badge"><%= num_samples %></span></td>            
                </tr>            
              <% end # iterate target_info_sorted %>
              </tbody>
            <% end # if target_info %>
          <% end # iterate hi_lev_sum_sub_hash %>
        </table>
      </li>

    </ul><!-- /list-group --> 
     
  </div><!-- /col -->
  <% i+=1 %>
  <% if i % 4 == 0 %>
</div><!--/row-->
<div class="row">
  <% end # modulo for row length %>
  <% end # iterate @high_level_summaries_target_info_hash %>
</div><!--/row-->
<% end # if high lev summaries %>


