<% if @cancer_type %>
  <h1>High Level Summary of Clinical Parameters featured in <%= @cancer_type.abbreviation %></h1>
<% elsif @clinical_parameter%>
  <h1>High Level Summary of <%= @clinical_parameter.name %> and associated Cancer Types</h1>
<% end %>

<div class="alert alert-info">       
  <div class="panel-body">
  <% if @cancer_type %>
    <h4>Cancer Type: <strong><%= @cancer_type.abbreviation %>|<%= @cancer_type.name %></strong></h4>
  <% elsif @clinical_parameter %>
    <h4>Clinical Parameter: <strong><%= @clinical_parameter.name %></strong></h4>
  <% end %>
    <h4>Firehose Version: <strong><%= @data_set.analysis_date %></strong></h4>
    <h4>High Level Genomic: <strong><%= @high_level_genomic.category %></strong></h4>
  </div>
</div>

<%
=begin %>
<% @samples.each do |s| %>
  Sample: <%= s.id %>|<%= s.sample_code %>:<br>
  Clinical Parameter Values:<br>
  <% s.clinical_parameter_values.each do |cpv| %>
  --Name: <%= cpv.clinical_parameter.name %><br>
  --Value: <%= cpv.value %><br>
  <% end %>
<% end %>

<h3>value count - orig query</h3>
<% @value_count = @value_count.to_a %>
<% @value_count.sort! {|a,b| a[0].to_i <=> b[0].to_i} %>
<% @value_count.each do |value| %>
   <%= value.inspect %><br>
<% end %>

<h3>return from chunks</h3>
<% @chunks100.each do |chunk| %>
   <%= chunk.inspect %><br>
<% end %>

<h3>@high_level_summaries</h3>
<% @high_level_summaries.each do |summ| %>
  <%= summ.cancer_type_id %>:<%= summ.clinical_parameter.name %>|<%= summ.clinical_parameter_sub_cat.name unless summ.clinical_parameter_sub_cat_id.blank?%>|<strong><%= summ.target_set.name %></strong>:
  <% summ.high_level_summary_values.each do |v| %>
    [<%= v.num_rank_target_sets %>]<br>
  <%end%>
<% end %>
<%
=end %>

<%= render 'show_high_level_summary_panels' %>




