<%
=begin%>
<% @gender.each do |r| %>
   <%= r.cancer_type.abbreviation %>::
   <%= r.sample.sample_code %>::
   <%= r.clinical_parameter.name %>::
   <%= r.value %>::
   <%= r.target_genes_flag %>,<%= r.target_genes_flag == 1 ? TargetSet.find(1).name : 'n/a' %>::
   <%= r.all_mir_flag %>,<%= r.all_mir_flag == 1 ? TargetSet.find(3).name : 'n/a' %>::
   <%= r.all_protein_flag %>,<%= r.all_protein_flag == 1 ? TargetSet.find(2).name : 'n/a' %><br>
<% end %>
<%
=end%>

<% @target_flags.each do |tf| %>
  <% tf.each do |t| %>
    <%= t %>
  <% end %>
  <br>
<% end %>