          <%= form_tag matrix_query_path,
              id: 'query_for_matrix', 
              class: '', method: :get do  %><!-- form for query_for_matrix -->

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group pull-right">
                    <label class="sr-only" for="">Target</label>
                    <div class="nowrap_space" style="display:inline">
                      Target:&nbsp;
                      <input type="radio" id_name="query_for_matrix_target_set_id" name="query_for_matrix[target_set_id]" id="query_for_matrix_target_set_id1" checked="checked" value="1">&nbsp;Gene&nbsp;&nbsp;
                      <input type="radio" id_name="query_for_matrix_target_set_id" name="query_for_matrix[target_set_id]" id="query_for_matrix_target_set_id2" value="2">&nbsp;Protein&nbsp;&nbsp;
                      <input type="radio" id_name="query_for_matrix_target_set_id" name="query_for_matrix[target_set_id]" id="query_for_matrix_target_set_id3" value="3">&nbsp;miR
                    </div>
                  </div>
                </div><!-- /col -->
                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="sr-only" for="">Enter Target Name</label>
                    <%= text_field_tag "query_for_matrix[gene_name]", nil, 
                        class: 'form-control typeahead_gene_matrix', 
                        placeholder: 'Enter Gene' %>
                    <%= text_field_tag "query_for_matrix[protein_name]", nil, 
                        class: 'form-control typeahead_protein_matrix', 
                        placeholder: 'Enter Protein', style: "display: none; left: -4px" %>
                    <%= text_field_tag "query_for_matrix[mir_name]", nil, 
                        class: 'form-control typeahead_mir_matrix', 
                        placeholder: 'Enter Mir', style: "display: none; left: -8px" %>
                  </div>
                </div><!-- /col -->
              </div><!-- /row -->

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="sr-only" for="">Select Cancer Type</label>
                    <%= select_tag "query_for_matrix[cancer_type_id]", options_for_select(get_cancer_types_for_select.order('abbreviation ASC').collect {|ct| [ ct.abbr_name, ct.id ] }), :prompt => "Select Cancer Type",  class: "form-control" %>
                  </div> 
                </div><!-- /col -->
                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="sr-only" for="">Select Clinical Parameter</label>
                    <%= select_tag "query_for_matrix[clinical_parameter_id]", options_for_select(get_clinical_parameters_for_select.order('name ASC').collect {|cp| [ cp.name, cp.id ] }), :prompt => "Select Clinical Parameter",  class: "form-control" %>
                  </div> 
                </div><!-- /col -->
              </div><!-- /row -->

            <%= submit_tag "Submit", class: "btn btn-info" %>
          <% end %><!-- /form for query_for_matrix -->
          <div id="error_query_for_matrix"></div>
 