              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-info"> 
                    <div class="panel-heading"><h3 class="panel-title">Check if Gene/Protein/miR of your interest is associated with Clinical Parameters
                  </h3></div>
                    <div class="panel-body">
                      <%= form_tag outcome_summary_path,
                          id: 'query_for_outcome_summary',
                          method: 'get',
                          class: 'form-inline' do  %><!-- form for query_for_outcome_summary -->
                        <div class="form-group">
                          <label class="sr-only" for="">Target</label>
                          <div class="nowrap_space" style="display:inline">
                            Target:&nbsp;
                            <input type="radio" id_name="query_for_outcome_summary" name="query_for_outcome_summary[target_set_id]" id="query_for_outcome_summary_target_set_id1" checked="checked" value="1">&nbsp;Gene&nbsp;&nbsp;
                            <input type="radio" id_name="query_for_outcome_summary" name="query_for_outcome_summary[target_set_id]" id="query_for_outcome_summary_target_set_id2" value="2">&nbsp;Protein&nbsp;&nbsp;
                            <input type="radio" id_name="query_for_outcome_summary" name="query_for_outcome_summary[target_set_id]" id="query_for_outcome_summary_target_set_id3" value="3">&nbsp;miR&nbsp;&nbsp;
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="">Query For Outcome Summary</label>
                          <%= text_field_tag "query_for_outcome_summary[gene_name]", nil, 
                              class: 'form-control typeahead_gene_outcome', 
                              placeholder: 'Enter Gene' %>
                          <%= text_field_tag "query_for_outcome_summary[protein_name]", nil, 
                              class: 'form-control typeahead_protein_outcome', 
                              placeholder: 'Enter Protein', style: "display: none; left: -4px" %>
                          <%= text_field_tag "query_for_outcome_summary[mir_name]", nil, 
                              class: 'form-control typeahead_mir_outcome', 
                              placeholder: 'Enter Mir', style: "display: none; left: -8px" %>
                        </div>
                        <%= submit_tag "Submit", class: "btn btn-info" %>
                      <% end %><!-- /form  --> 
                      <div id="error_query_by_target"></div>
                    </div><!-- /panel body -->
                  </div><!-- /panel -->
                </div><!-- /col -->              
              </div><!-- /row -->

              <div class="row">
                <div class="col-xs-6">
                  <div class="panel panel-info"> 
                    <div class="panel-heading"><h3 class="panel-title">What Cancer Type are you interested in?</h3></div>
                    <div class="panel-body">
                      <%= form_tag high_level_summary_path, id: 'choose_cancer_type' do  %>
                      <%= label_tag 'cancer_type', 'Select Cancer Type', class: 'sr-only' %>
                      <div class="input-group input-group-md">
                        <%= select_tag :cancer_type_id, options_for_select(get_cancer_types_for_select.order('abbreviation ASC').collect {|ct| [ ct.abbr_name, ct.id ] }), :prompt => "Select Cancer Type",  class: "form-control" %>
                        <span class="input-group-btn">
                          <%= submit_tag "Submit", class: "btn btn-info" %>
                        </span>
                      </div><!-- /input-group -->
                      <% end %><!-- /form -->
                      <div id="error_ct"></div>      
                    </div><!-- /panel body -->
                  </div><!-- /panel -->
                </div><!-- /col -->
                <div class="col-xs-6">
                  <div class="panel panel-info"> 
                    <div class="panel-heading"><h3 class="panel-title">What Clinical Parameter are you interested in?</h3></div>
                    <div class="panel-body">
                      <%= form_tag high_level_summary_path, id: 'choose_clinical_parameter' do  %>
                      <%= label_tag 'sel_clin_param', 'Select Clinical Parameter', class: 'sr-only' %>
                      <div class="input-group input-group-md">
                        <%= select_tag :clinical_parameter_id, options_for_select(get_clinical_parameters_for_select.order('name ASC').collect {|cp| [ cp.name, cp.id ] }), :prompt => "Select Clinical Parameter",  class: "form-control" %>
                        <span class="input-group-btn">
                          <%= submit_tag "Submit", class: "btn btn-info" %>
                        </span>
                      </div><!-- /input-group -->
                      <% end %><!-- /form --> 
                      <div id="error_cp"></div>     
                    </div><!-- /panel body -->
                  </div><!-- /panel -->
                </div><!-- /col -->
              </div><!-- /row -->
