          <%= form_tag target_genomic_query_path,
              id: 'query_for_target_genomic', 
              class: '' do  %><!-- form for query_for_matrix -->
              
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label class="sr-only" for="">Select Cancer Type</label>
                    <%= select_tag "query_for_target_genomic[cancer_type_id]", options_for_select(get_cancer_types_for_select.order('abbreviation ASC').collect {|ct| [ ct.abbr_name, ct.id ] }), :prompt => "Select Cancer Type",  class: "form-control" %>
                  </div> 
                </div><!-- /col -->
              </div><!-- /row -->

              <div class="row">
                <div class="alert alert-warning" role="alert"><h5>Select First Target/Genomic pair</h5></div>
              </div><!-- /row -->
              <div class="row"> 
                <div class="col-xs-5 col-less-pad">
                  <div class="form-group pull-right">
                    <label class="sr-only" for="">Target</label>                    
                    <div class="nowrap_space" style="display:inline">
                      Target:&nbsp;
                      <input type="radio" id_name="query_for_target_genomic_target_set1_id" name="query_for_target_genomic[target_set_id]" id="query_for_target_genomic_target_set_id1a" checked="checked" value="1">&nbsp;Gene&nbsp;
                      <input type="radio" id_name="query_for_target_genomic_target_set1_id" name="query_for_target_genomic[target_set_id]" id="query_for_target_genomic_target_set_id2a" value="2">&nbsp;Protein&nbsp;
                      <input type="radio" id_name="query_for_target_genomic_target_set1_id" name="query_for_target_genomic[target_set_id]" id="query_for_target_genomic_target_set_id3a" value="3">&nbsp;miR
                    </div>                    
                  </div><!-- /form-group -->
                </div><!-- /col -->
                <div class="col-xs-3 col-less-pad">
                  <div class="form-group" style="height: 14px">
                    <label class="sr-only" for="">Enter Target Name 1</label>
                    <%= text_field_tag "query_for_target_genomic[gene_name]", nil, 
                        class: 'form-control typeahead_gene_targ_genomic1', 
                        placeholder: 'Enter Gene', style: "font-size:12px; padding: 0 6px;" %>
                    <%= text_field_tag "query_for_target_genomic[protein_name]", nil, 
                        class: 'form-control typeahead_protein_targ_genomic1', 
                        placeholder: 'Enter Protein', style: "display: none; font-size:12px; padding: 0 6px; left: -4px" %>
                    <%= text_field_tag "query_for_target_genomic[mir_name]", nil, 
                        class: 'form-control typeahead_mir_targ_genomic1', 
                        placeholder: 'Enter Mir', style: "display: none; font-size:12px; padding: 0 6px; left: -8px" %>
                  </div>
                </div><!-- /col -->
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only" for="">Select Genomic</label>
                    <%= select_tag "query_for_target_genomic[genomic_id]", "", :prompt => "Select Genomic",  class: "form-control" %>              
                  </div> 
                </div><!-- /col -->
              </div><!-- /row -->

              <div class="row">
                <div class="alert alert-warning" role="alert"><h5>Select Second Target/Genomic pair</h5></div>        
              </div><!-- /row -->
              <div class="row">
                <div class="col-xs-5 col-less-pad">
                  <div class="form-group pull-right">
                    <label class="sr-only" for="">Target</label>
                    <div class="nowrap_space" style="display:inline">
                      Target:&nbsp;
                      <input type="radio" id_name="query_for_target_genomic_target_set2_id" name="query_for_target_genomic[target_set_id2]" id="query_for_target_genomic_target_set_id1b" checked="checked" value="1">&nbsp;Gene&nbsp;&nbsp;
                      <input type="radio" id_name="query_for_target_genomic_target_set2_id" name="query_for_target_genomic[target_set_id2]" id="query_for_target_genomic_target_set_id3b" value="3">&nbsp;miR
                    </div>
                  </div>
                </div><!-- /col -->
                <div class="col-xs-3 col-less-pad">
                  <div class="form-group" style="height: 14px;">
                    <label class="sr-only" for="">Enter Target Name 2</label>
                    <%= text_field_tag "query_for_target_genomic[gene_name2]", nil, 
                        class: 'form-control typeahead_gene_targ_genomic2', 
                        placeholder: 'Enter Gene', style: "font-size:12px; padding: 0 6px;" %>
                    <%= text_field_tag "query_for_target_genomic[mir_name2]", nil, 
                        class: 'form-control typeahead_mir_targ_genomic2', 
                        placeholder: 'Enter Mir', style: "display: none; font-size:12px; padding: 0 6px; left: -4px;" %>
                  </div>
                </div><!-- /col -->
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="sr-only" for="">Select Genomic</label>
                    <%= select_tag "query_for_target_genomic[genomic_id2]", "", :prompt => "Select Genomic",  class: "form-control" %>
                  </div> 
                </div><!-- /col -->
              </div><!-- /row -->

            <%= submit_tag "Submit", class: "btn btn-info", style: "z-index:99;" %>
          <% end %><!-- /form for query_for_target_genomic -->
          <div id="error_query_for_target_genomics"></div>
          <div id="loading_icon_for_target_genomics" class="text-center" style="display:none;">
            <%= image_tag("loading_icon.gif", alt:"Loading...") %>
          </div>
 