﻿<div class="center jumbotron">
  <div class="panel panel-info">
    <div class="panel-body">
      <h2>The Cancer Genome Atlas Clinical Explorer: An Interface for Identifying Clinical–Genomic Driver Associations</h2>
      <h4>Version <%= Version::CURRENT_VERSION.version_number %></h4>
    </div><!-- /panel body -->
  </div><!-- /panel -->
  <div class="row"><!-- row 1 --> 
    <div class="col-md-8">
      <% unless params[:query_error].blank? %>
        <% if params[:query_error].match('target name') %>
          <%= content_tag :div, 'Target name not recognized, please try another target name', class: 'alert alert-danger center-block query-error', style: 'margin-bottom: 20px;'%>
        <% elsif params[:query_error].match('data return') %>
          <%= content_tag :div, 'Data currently unavailable, please try another query', class: 'alert alert-danger center-block', style: 'margin-bottom: 20px;'%>
        <% end %>
      <% end %>
      <div class="panel panel-primary welcome-panel"> 
        <div class="panel-heading">
          <h3 class="panel-title">What Genes are associated with a Clinical Parameter of your interest? 
            These genes are identified by Elastic-net analysis.</h3>
        </div>
        <div class="panel-body">
          <%= render 'query_for_outcome_summary_forms' %> 
        </div><!-- /panel body -->
      </div><!-- /panel -->

      <div class="panel panel-primary welcome-panel"> 
        <div class="panel-heading">
          <h3 class="panel-title">Query by Gene, miR, or Protein by Cancer Type and Clinical Parameter<br><span style="font-size:smaller">(Ex: Genetic profiles of TP53 in Colorectal cancer by MSI status)</span></h3>
        </div>
        <div class="panel-body">
          <%= render 'query_for_matrix_form' %>
        </div><!-- /panel body -->
      </div><!-- /panel -->

      <div class="panel panel-primary welcome-panel"> 
        <div class="panel-heading">
          <h3 class="panel-title">Two-hit hypothesis test<br><span style="font-size:smaller">(Ex: Mutation counts for TP53 and WRN from COADREAD)</span></h3>
        </div>
        <div class="panel-body">
          <%= render 'query_for_target_genomic_form' %>  
        </div><!-- /panel body -->
      </div><!-- /panel -->

    </div><!-- /col-->

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item welcome label">What are clinically relevant genes?</li>
        <li class="list-group-item welcome text-left">
          <p>For instance, clinical stage associated genes are the ones having different mutation profiles between different stages. If a gene is mutated across all stages, it is not regarded as associated with clinical stage. For further explanation, look at our publication.</p>
        </li>
        <li class="list-group-item welcome label">Navigate TCGA data 3 ways</li>
        <li class="list-group-item welcome text-left">
          <p>
            <span class="bold-lite">Top panel:</span> Search by -              
            <ul>
              <li>clinically relevant Gene/miR/Protein</li>
              <li>cancer type</li>
              <li>clinical parameter</li>
            </ul>
          </p>
          <p><span class="bold-lite">Middle panel:</span> Genetic profiling by clinical parameters</p> 
          <p><span class="bold-lite">Bottom panel:</span> Testing two hit hypothesis. Search by Target/Genomic Pairs</p>
        </li>
        <li class="list-group-item welcome label">Example queries</li>
        <li class="list-group-item welcome text-left">
          <p>What genes are associated with clinical stage of colorectal cancer?</p>
          <p>What clinical parameters are associated with APC genes?</p>
          <p>How does PIK3CA behave differently between EBV infected and non-infected samples from the stomach?</p>
          <p>What is the difference in copy number changes of TP53 between samples with and without TP53 mutation?</p>
        </li>
      </ul>
    </div><!-- /col-->
    <p class="info">Broad Firehose Version: <%= DataSet::ANALYSIS_DATE %></p>
  </div><!-- /row 1-->
</div><!-- /jumbotron -->
<%= tag("div", id: "get_genes_list", data: {targetgenes: @genes}) %>
<%= tag("div", id: "get_proteins_list", data: {targetproteins: @proteins}) %>
<%= tag("div", id: "get_mirs_list", data: {targetmirs: @mirs}) %>




