<div class="center jumbotron">
  <h1>Welcome to the Stanford PAN-TCGA Project</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Single Genomic analysis of multiple types of cancer tissue data gathered from the BROAD institute and UCSC.</h2>
    </div>
  </div>
  <div class="panel panel-default"> 
  <div class="panel-heading">
    <h2 class="panel-title">Query for Clinically Relevant Genes</h2>
  </div>
  <div class="panel-body">
  <div id="myCarousel" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-target="#myCarousel" data-slide-to="0">
      <!--button data-target="#myCarousel" data-slide-to="0">
        <span class="screen-reader">Cancer Types</span>
      </button-->
    </li>
    <li data-target="#myCarousel" data-slide-to="1">
      <!--button data-target="#myCarousel" data-slide-to="1">
        <span class="screen-reader">Select by Assay</span>
      </button-->
    </li>
  </ol>

    <div class="carousel-inner">

      <div id="slide1" class="item active">
        <div class="col-md-6 col-md-offset-3"> 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Select by Cancer Type</h3>
          </div>
          <div class="panel-body">
            <%= form_tag high_level_summary_path, id: 'choose_cancer_type' do  %>
            <%= label_tag 'cancer_type', 'Select Cancer Type', class: 'sr-only' %>
            <div class="input-group input-group-lg">
              <%= select_tag :cancer_type_id, options_for_select(CancerType.order('abbreviation ASC').all.collect {|ct| [ ct.abbr_name, ct.id ] }, (params[:cancer_type_id] ? params[:cancer_type_id] : "")), :prompt => "Select Cancer Type",  class: "form-control" %>
              <span class="input-group-btn">
                <%= submit_tag "Go", class: "btn btn-info" %>
              </span>
            </div><!-- /input-group -->
            <% end %><!-- /form -->
          </div><!-- /panel body -->
        </div><!-- /panel -->
        </div><!-- /col -->
      </div><!-- /item -->

      <div id="slide3" class="item">
        <div class="col-md-6 col-md-offset-3"> 
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Select by Clinical Parameter</h3>
          </div>
          <div class="panel-body">
            <%= form_tag high_level_summary_path, id: 'choose_clinical_parameter' do  %>
            <%= label_tag 'sel_clin_param', 'Select Clinical Parameter', class: 'sr-only' %>
            <div class="input-group input-group-lg">
              <%= select_tag :clinical_parameter, options_for_select(ClinicalParameter.order('name ASC').all.collect {|cp| [ cp.name, cp.id ] }, (params[:clinical_parameter] ? params[:clinical_parameter] : "")), :prompt => "Select Clinical Parameter",  class: "form-control" %>
              <span class="input-group-btn">
                <%= submit_tag "Go", class: "btn btn-default" %>
              </span>
            </div><!-- /input-group -->
            <% end %><!-- /form -->
          </div><!-- /panel body -->
        </div><!-- /panel -->
        </div><!-- /col --> 
      </div><!-- /item -->
    </div><!-- /carousel inner -->

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

  </div><!-- /carousel -->
  <div id="error"></div>
  </div><!-- /outer panel content -->
  </div><!-- /outer panel for carousel -->
  
  <div id='show_clinical_features'></div>
  
  <!--%= link_to 'Clickme', '#', :'data-div2' => 'show_clinical_features', id: 'swap-div' %-->

  <!--%= link_to "Sign up now!", signup_path, class: "btn btn-default btn-lg btn-primary" %-->
</div>


