<script>
$(function() {
  chart_type =  "<%= @data_items['chart_type'] %>" 
  if (chart_type == 'boxplot') {
    chart_id = "#boxplot_container_" + "<%= @genomic_id %>"
    categories = $(chart_id).data("categories");
    this_title = $(chart_id).data("chart-title");
    chart_data = $(chart_id).data("chart-data");
    xaxis_label = 'Clinical Parameters';
  
    return $(chart_id).highcharts({
      chart: {
        type: 'boxplot'
      },
      title: {
        text: this_title
      },
      credits: false,
      legend: {
        enabled: false
      },
      xAxis: {
        categories: categories,
        title: {
          text: xaxis_label
        }
      },
      yAxis: {
        title: {
          text: "Genomic Values"
        }
      },
      series: [
        {
          name: "Values",
          data: chart_data,
          tooltip: {
            headerFormat: "<strong>Category: {point.key}</strong><br>"
          }
        }
      ]
    }); // return boxplot chart
  } else if (chart_type == 'histogram') {
    chart_id = "#histogram_container_" + "<%= @genomic_id %>"
    genomic_id = $(chart_id).data("genomic-id");
    categories = $(chart_id).data("categories");
    this_title = $(chart_id).data("chart-title");
    readable_categories = $(chart_id).data("readable-categories");
    chart_data = $(chart_id).data("chart-data");
    genomic_val_type_count_arr = chart_data;

    series = [];
    i = 0;
    data_arr = [];
    while (i < readable_categories.length) {
      $.each(genomic_val_type_count_arr, function(index, value) {
        return data_arr.push(genomic_val_type_count_arr[index][i]);
      });
      series.push({
        name: readable_categories[i],
        data: data_arr
      });
      data_arr = [];
      i++;
    }
    return $(chart_id).highcharts({
      chart: {
        type: "column"
      },
      title: {
        text: this_title
      },
      xAxis: {
        categories: categories,
        title: {
          text: "Clinical Parameters"
        }
      },
      yAxis: {
        min: -10,
        labels: {
          format: '{value}'
        },
        title: {
          text: "Number of Patients"
        }
      },
      credits: {
        enabled: false
      },
      series: series
    }); // return histogram chart
  } else if (chart_type == 'stacked_bar') {
    chart_id = "#stacked_bar_container_" + "<%= @genomic_id %>"
    genomic_id = $(chart_id).data("genomic-id");
    categories = $(chart_id).data("categories");
    this_title = $(chart_id).data("chart-title");
    readable_categories = $(chart_id).data("readable-categories");
    chart_data = $(chart_id).data("chart-data");
    genomic_val_type_count_arr = chart_data;

    series = [];
    i = 0;
    data_arr = [];
    while (i < readable_categories.length) {
      $.each(genomic_val_type_count_arr, function(index, value) {
        return data_arr.push(genomic_val_type_count_arr[index][i]);
      });
      series.push({
        name: readable_categories[i],
        data: data_arr
      });
      data_arr = [];
      i++;
    }
    return $(chart_id).highcharts({
      chart: {
        type: "bar"
      },
      title: {
        text: this_title
      },
      xAxis: {
        categories: categories,
        title: {
          text: "Clinical Parameters"
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: "Number of Patients"
        }
      },
      legend: {
        reversed: true
      },
      plotOptions: {
        series: {
          stacking: "normal"
        }
      },
      credits: {
        enabled: false
      },
      series: series
    });
  } // return stacked bar chart
}); // function for highcharts
</script>

<%
=begin %>
<%= @uniq_clin_param_samples_hash_cache_name %>
<% @clin_param_value_category_samples_hash.each do |cat, ids| %>
  <%= cat %><br>
  <%= ids %><br>
  <%= '-' * 80 %><br>
<% end %>

<h5>@clin_par_val_categories: <%= @clin_par_val_categories %></h5>
<h5>@genomic_values_arr: <%= @genomic_values_arr %></h5>
<h5><%= @genomic_id %>|<%= get_genomic_readable_name(@genomic_id) %></h5>
<h5>chart id: <%= "#{@data_items['chart_type']}_container_#{@genomic_id}" %></h5>
<%
=end %>

<%= tag("div", id: "#{@data_items['chart_type']}_container_#{@genomic_id}", data: @data_items) %>