      <% 
        y_column = '' 
        genomic_value_data = @data_items['chart_data']
      %>
      <% 
        if @data_items['chart_type'] =~ /(histogram|stacked_bar)/
          y_column = @data_items['readable_categories']
        elsif @data_items['chart_type'].match('boxplot')
          y_column = ['Minimum', 'Lower Quartile', 'Median', 'Upper Quartile', 'Maximum']
          #genomic_value_data.map! { |gvd| gvd[1..3] } # just get the quartiles
        end  
      %>    
      <%
        value_data_totals = []
        value_data_total = 0 
        genomic_value_data.each do |gvd|
          gvd_noblank = gvd.reject {|v| v == 'BLANK'}
          gvd_noblank.map! { |x| x.to_i }
          value_data_totals << gvd_noblank.inject(:+)
          value_data_total = value_data_totals.inject(:+)
        end
      %>

      <% unless BOXPLOT_GENOMIC_IDS.include?(@genomic_id.to_i) %>
        <!-- percentage table -->
        <table class="table table-bordered table-condensed table-striped">
          <tr>
            <th class="text-center">Genomic value category</th>
            <% @clin_par_val_categories.each do |cvt| %>
            <th><%= cvt %></th>
            <% end %>
          </tr>
          <% y_column.each_with_index do |item, i| %>
          <tr> 
            <th class="text-center"><small><%= item %></small></th>
            <% @clin_par_val_categories.each_with_index do |item, j| %>
            <%
              gen_val_count = '' 
              if ( genomic_value_data[j][i] == 'BLANK' || genomic_value_data[j][i].blank? )
                gen_val_percent = '0%'
              else
                gen_val_count = genomic_value_data[j][i]
                gen_val_percent = number_to_percentage(gen_val_count.to_f / value_data_totals[j].to_f * 100, precision: 1)
              end
            %>  
              <td><%= gen_val_percent %></td>
           <% end %>
          </tr>
          <% end # y_column... %>
          <tr>
            <td></td>
            <% (1..@clin_par_val_categories.length).each do |x| %>
            <td>100&#37;</td>
            <% end %>
          </tr>
        </table> <!-- /percentage table -->
          
        <div style="clear:both; padding: 4px;"></div>
        
        <!-- toggle link -->
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#counts_table_<%= @genomic_id %>" aria-expanded="false" aria-controls="">
          View Sample Counts Table
        </button>
          
      <% end # unless BOXPLOT_GENOMIC_IDS %>

      <!-- counts table: for all genomic panels, slight diff in format --> 
      <% if BOXPLOT_GENOMIC_IDS.include?(@genomic_id.to_i) %>
        <table class="table table-bordered table-condensed table-striped ">
      <% else %>
        <div style="height:8px;"></div> 
        <table id="counts_table_<%= @genomic_id %>" class="table table-bordered table-condensed table-striped collapse">
      <% end %>
          <tr>
            <th class="text-center">Genomic value category</th>
            <% @clin_par_val_categories.each do |cvt| %>
            <th><%= cvt %></th>              
            <% end %>
            <% if @data_items['chart_type'] =~ /(histogram|stacked_bar)/ %>
            <th>#Samples</th>
            <% end %>
          </tr>
          <% y_column.each_with_index do |item, i| %>
          <tr>               
            <th class="text-center"><small><%= item %></small></th>
            <% gen_val_total = 0 %>
            <% @clin_par_val_categories.each_with_index do |item, j| %>
            <%
              gen_val_count = ''                 
              if ( genomic_value_data[j][i] == 'BLANK' || genomic_value_data[j][i].blank? )
                gen_val_count = '-'
              else
                gen_val_count = genomic_value_data[j][i]
                gen_val_total += gen_val_count.to_i
              end
            %>  
              <td><%= gen_val_count %></td>
           <% end %>
           <% if @data_items['chart_type'] =~ /(histogram|stacked_bar)/ %>
           <td><%= gen_val_total %></td>
           <% end %>
          </tr>
          <% end # y_column... %>
          <% if @data_items['chart_type'] =~ /(histogram|stacked_bar)/ %>
          <tr>
            <th class="text-center"><small>#Samples</small></th>
            <% (0..@clin_par_val_categories.length-1).each do |x| %>
            <td><%= value_data_totals[x] %></td>
            <% end %>
            <td><span class="badge"><%= value_data_total %></span></td>
          </tr>
          <% end %>               
        </table> <!-- /counts table -->