<div id="chart_rows" data-rowcount="1"></div> 
<div class="row">
  <% if BOXPLOT_GENOMIC_IDS.include?(@genomic.id) %>
  <div class="col-md-8"><!-- col for charts -->
  <% else %>
  <div class="col-md-6"><!-- col for charts -->
  <% end %>
    <ul class="list-group">
      <li class="list-group-item">
      <% chart_title = "#{@target_genomic_both_hash['target1'].keys[0]}|#{get_genomic_readable_name(@genomic.id.to_i)} by #{@target_genomic_both_hash['target2'].keys[0]}|#{get_genomic_readable_name(@genomic2.id.to_i)}" %>
      <% if BOXPLOT_GENOMIC_IDS.include?(@genomic.id) %>
        <% 
          # third arg is array of strings, concatenation of genomic values
          # chart_data_array is concatenation of hashes based on each list of genomic values
          genomic_id = @genomic.id
          genomic_id2 = @genomic2.id
          genomic2_categories = @target_genomic2_cats_target_genomic1_values_hash.keys
          genomic1_values_arr = @target_genomic2_cats_target_genomic1_values_hash.values
          # args: (genomic_id, categories, genomic_values_arr)
          chart_data_array = matrix_data_analysis(genomic_id, genomic2_categories, genomic1_values_arr) 
        %>
        <!--%= chart_data_array.inspect %-->
        <% 
          data_items = {}
          #chart_container_id = ''
          data_items['chart_data'] = []
          data_items['genomic_id'] = genomic_id
          data_items['categories'] = genomic2_categories
          data_items['readable_categories'] = genomic2_categories.map { |gvt| get_genomic_val_category_name_copy_number(gvt) } if genomic_id2 == Genomic::CN_ID # CNGistic...
          data_items['readable_categories'] = genomic2_categories.map { |gvt| get_genomic_val_category_name_mutation(gvt) } if genomic_id2 == Genomic::MAF_ID # MAF/Mutation
          chart_container_id = "box_plot_container_0"
          data_items['chart_type'] = 'boxplot'
          data_items['query_type'] = '2point'
          data_items['title'] = chart_title
          chart_data_array.each do |chart_data_hash| # one hash for each category
            #data_items['readable_categories'] = chart_data_hash['genomic_val_types'].map { |gvt| get_genomic_val_category_name_copy_number(gvt) } if genomic_id == Genomic::CN_ID # CNGistic...
            #data_items['readable_categories'] = chart_data_hash['genomic_val_types'].map { |gvt| get_genomic_val_category_name_mutation(gvt) } if genomic_id == Genomic::MAF_ID # MAF/Mutation
            data_items['chart_data'].push(chart_data_hash['data_arr']) 
          end
        %>
        <%= tag("div", id: 'box_plot_container_0', data: data_items, style: "margin: 0 auto") %>
      <% else %>
        <%= tag("div", id: 'genomic_by_genomic_barchart_container', data: {title: chart_title}, style: "min-width: 310px; height: 400px; margin: 0 auto") %>
      <%  end %>
      </li>
    </ul>
  </div><!-- /col for charts -->
  <% unless BOXPLOT_GENOMIC_IDS.include?(@genomic.id) %>
  <div class="col-md-6"><!-- col for tables -->
    <div class="panel panel-default">
      <div class="panel-body" style="max-width: 520px; overflow-x: scroll;">
      
        <% # data for barcharts
          x_columns_headings = @sorted_genomic2_value_counts_hash.keys # pair 1 genomic value categories 
          x_columns_headings.sort!
          y_rows_headings = @target2_value_categories
          y_rows_headings.sort!
          x_cols_headings_human_readable = []
          if @genomic.id == Genomic::CN_ID # CN
            x_cols_headings_human_readable = x_columns_headings.map { |x| get_genomic_val_category_name_copy_number(x.to_s) } 
          elsif @genomic.id == Genomic::MAF_ID # MAF
            x_cols_headings_human_readable = x_columns_headings.map { |x| get_genomic_val_category_name_mutation(x.to_s) }
          else
            x_cols_headings_human_readable = x_columns_headings # temp until continuous value headings are handled 
          end
          y_rows_headings_human_readable = []
          if @genomic2.id == Genomic::CN_ID # CN
            y_rows_headings_human_readable = y_rows_headings.map { |y| get_genomic_val_category_name_copy_number(y.to_s) } 
          elsif @genomic2.id == Genomic::MAF_ID # MAF
            y_rows_headings_human_readable = y_rows_headings.map { |y| get_genomic_val_category_name_mutation(y.to_s) }
          else
            y_rows_headings_human_readable = y_rows_headings # temp until continuous value headings are handled 
          end    
        %>

        <!-- percent table -->
        <table class="table table-bordered table-condensed table-striped">
          <thead>
          <tr>
            <th></th>
            <th class="text-center" colspan="<%= x_columns_headings.length+1 %>">
              <%= @target_genomic_both_hash['target1'].keys[0] %>-<%= get_genomic_readable_name(@genomic.id.to_i) %>
            </th>        
          </tr>
          <tr>
            <th class="text-center">
              <%= @target_genomic_both_hash['target2'].keys[0] %>-<br><%= get_genomic_readable_name(@genomic2.id.to_i) %>          
            </th>
            <% x_cols_headings_human_readable.each_with_index do |x, i| %>
            <th><small><%= x %></small></th>
            <% end %>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% y_rows_headings_human_readable.each_with_index do |y, i| %>
          <tr>       
            <th class="text-center"><small><%= y %></small></th>
            <%
              value_counts = [] 
              x_value_count_total = 0 
              @y_value_counts = []
            %>             
            <% @sorted_genomic2_value_counts_hash.each do |genomic1_value_category, target_genomic2_value_category_counts| %>
               <% y_rows_headings.each do |y_heading|
                      next if target_genomic2_value_category_counts.transpose[0].include?(y_heading)
                    target_genomic2_value_category_counts.push([y_heading,0]) 
                  end
                %>
              <% @y_value_counts << target_genomic2_value_category_counts.map { |item| item[1] } %>
              <% target_genomic2_value_category_counts.each do |genomic_and_count| %>
                <% next unless genomic_and_count[0] == y_rows_headings[i] %>
                <% count = genomic_and_count[1] %>
                <% value_counts.push(count) %> 
                <% break %>
              <% end %>
              <% x_value_count_total = value_counts.reduce(:+) %>
            <% end # /@sorted_genomic2_value_counts %>
            <% value_counts.each do |value_count| %>
              <% value_percent = number_to_percentage(value_count.to_f / x_value_count_total.to_f * 100, precision: 1) %>
              <td><%= value_percent %></td>
            <% end %>
            <td>100&#37;</td>
          </tr>
          <% end # /y_rows_headings %>
          </tbody>
        </table><!-- /percent table -->
        
        <div style="clear:both; padding: 4px;"></div>
        
        <!-- toggle link -->
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#counts_table" aria-expanded="false" aria-controls="">
          View Sample Counts Table
        </button>
        
        <!-- count table -->
        <% if BOXPLOT_GENOMIC_IDS.include?(@genomic.id) %> 
          <table class="table table-bordered table-condensed table-striped">
        <% else %>
          <div style="height:8px;"></div>            
          <table id="counts_table" class="table table-bordered table-condensed table-striped collapse">
        <% end %>
          <thead>
          <tr>
            <th></th>
            <th class="text-center" colspan="<%= x_columns_headings.length+1 %>">
              <%= @target_genomic_both_hash['target1'].keys[0] %>-<%= get_genomic_readable_name(@genomic.id.to_i) %>
            </th>        
          </tr>
          <tr>
            <th class="text-center">
              <%= @target_genomic_both_hash['target2'].keys[0] %>-<br><%= get_genomic_readable_name(@genomic2.id.to_i) %>          
            </th>
            <% x_cols_headings_human_readable.each_with_index do |x, i| %>
            <th><small><%= x %></small></th>
            <% end %>
            <th><small>#Samples</small></th>
          </tr>
          </thead>
          <tbody>
          <% y_rows_headings_human_readable.each_with_index do |y, i| %>
          <tr>       
            <th class="text-center"><small><%= y %></small></th>
            <%
              value_counts = [] 
              x_value_count_total = 0 
              @y_value_counts = []
            %>             
            <% @sorted_genomic2_value_counts_hash.each do |genomic1_value_category, target_genomic2_value_category_counts| %>             
              <% @y_value_counts << target_genomic2_value_category_counts.map { |item| item[1] } %>                        
              <% count = 0 %>
              <% target_genomic2_value_category_counts.each do |genomic_and_count| %>
                <% next unless genomic_and_count[0] == y_rows_headings[i] %>
                <% count = genomic_and_count[1] %>
                <% value_counts.push(count) %> 
                <% break %>
              <% end %>
              <% x_value_count_total = value_counts.reduce(:+) %>
              <td><%= count %></td>
            <% end # /@sorted_genomic2_value_counts %>
            <td><%= x_value_count_total %></td>  
          </tr>
          <% end # /y_rows_headings%>
          <tr>
            <th class="text-center"><small>#Samples</small></th>
            <% total_samples = 0 %>
            <% @y_value_counts.each do |y_value_count_arr| %>
              <% y_value_count_total = y_value_count_arr.reduce(:+) %>
              <% total_samples += y_value_count_total %>
              <td><%= y_value_count_total %></td>
            <% end %>
            <td><span class="badge"><%= total_samples %></span></td>
          </tr>
          </tbody>
        </table><!-- /count table -->

        <!-- streamlined table for chart to get data from -->
        <table id="genomic_by_genomic_table"  data-title="<%= @chart_title %>" style="display:none">
          <thead>
          <tr>
            <th></th>
            <% x_cols_headings_human_readable.each_with_index do |x| %>
            <th><%= x %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% y_rows_headings_human_readable.each_with_index do |y, i| %>
          <tr>       
            <th class="text-center"><%= y %></th>
            <% @sorted_genomic2_value_counts_hash.each do |genomic1_value_category, target_genomic2_value_category_counts_hash| %>
            <%
              value_count = ''
              target_genomic2_value_category_counts_hash.each do |genomic_and_count|
                next unless genomic_and_count[0] == y_rows_headings[i]
                value_count = genomic_and_count[1]
                break
              end
            %>
            <td><%= value_count %></td>
            <% end %>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div><!-- /panel body -->
    </div><!-- /panel -->
  </div><!-- /col for tables -->
  <% end # unless BOXPLOT_GENOMIC_IDS %>
</div><!-- /row -->

