<h2>Debugs: </h2>

<h3>@genomic_id_clin_par_val_type_targ_genomic_values_hash</h3>
<% @genomic_id_clin_par_val_type_targ_genomic_values_hash.each do |g_id,clin_par_val_type_targ_genomic_values_hash| %>
  <h4>genomic id: <%= Genomic.find(g_id).name %></h4>
  <h4>clin_par_val_type_targ_genomic_values_hash:</h4>
  <% clin_par_val_type_targ_genomic_values_hash.each do |clin_par_val_type, targ_genomic_values| %>
   <h5>clin_par_val_type: <%= clin_par_val_type %></h5>
   <%
     if BOXPLOT_GENOMIC_IDS.include?(g_id) 
       target_genomic_values = targ_genomic_values[0].split(',').map {|v| v.to_f.round(3)}
       target_genomic_values.sort!
     elsif HISTOGRAM_GENOMIC_IDS.include?(g_id)
       target_genomic_values = targ_genomic_values[0].split(',').map {|v| v.to_i}
       target_genomic_values = target_genomic_values.inject(Hash.new(0)) { |total, item| total[item] += 1 ;total}
     end
   %> 
   <h5>target_genomic_values: <%= target_genomic_values.inspect %></h5>
  <% end %>
<% end %>