<h4>Genomic 1: <%= @genomic.id %>|<%= @genomic.name %></h4>
<h4>Genomic 2: <%= @genomic2.id %>|<%= @genomic2.name %></h4>

<h4>params:<%= params.inspect %></h4>

<%
=begin %>
<% @target_genomic1.each do |tg| %>
  <h5>targval: <%= tg.targval %></h5>
  <h5>targvalcount: <%= tg.targvalcount %></h5>
  <h5>sampleids: <%= tg.sampleids.split(',').sort %></h5>
<% end %>

=======================================
<h2>@target_genomic_both_hash['target_genomic2']:</h2>
<% @target_genomic_both_hash['target_genomic2'].each do |genomic1_value_category, target_genomic_2_arr| %>  
  <h4>genomic1_value_category: <%= genomic1_value_category %></h4>   
  <% target_genomic_2_arr.each do |query2_result| %>
    <h5>targval2: <%= query2_result.targval2 %>|<%= query2_result.targval2.class %></h5>
    <h5>targvalcount2: <%= query2_result.targvalcount2 %></h5>
    <h5>sampleids: <%= query2_result.sampleids.split(',').sort %></h5>
  <% end %>
<% end %>
=======================================
<%
=end %>

<% if @target_genomic2_cats_target_genomic1_values_hash %>
  <h4>@target_genomic2_cats_target_genomic1_values_hash:</h4>
  <% @target_genomic2_cats_target_genomic1_values_hash.each do |k,v| %>
    key: <%= k %>| val: <%= k %><br> 
  <% end %>
<% elsif @sorted_genomic2_value_counts_hash %>
  <h4>@sorted_genomic2_value_counts_hash:</h4>
  <% @sorted_genomic2_value_counts_hash.each do |k,v| %>
    key: <%= k %>| val: <%= k %><br> 
  <% end %>
<% end %>

<%
=begin %>
<h2>@sorted_genomic2_value_counts_hash:</h2>
<% @sorted_genomic2_value_counts_hash.each do |key, val| %> 
  <h4>key: <%= key %></h4>
  <h4>val: <%= val %></h4>  
<% end %>

<h2> @query1_sample_ids: <%= @query1_sample_ids.sort %></h2>
<h2>@target_genomic2_categories_samples_hash:</h2>
<% @target_genomic2_categories_samples_hash.each do |cat, samples| %> 
  <h4>cat: <%= cat %></h4>
  <h4>samples: <%= samples %></h4> 
<% end %>
<%
=end %>