$("#loading_icon_" + <%= @genomic_id %>).hide()
$("#get_data_analysis_button_" + <%= @genomic_id %>).hide()
$("#charts_col_" + <%= @genomic_id %>).show()
$("#chart_container_" + <%= @genomic_id %>).html("<%= escape_javascript(render :partial => 'chart').html_safe %>");
$("#tables_col_" + <%= @genomic_id %>).show()
$("#data_tables_container_" + <%= @genomic_id %>).html("<%= escape_javascript(render :partial => 'data_tables').html_safe %>");




