<h2>Matrix - Query results - <%= @target_type_readable %>: <%= @target_name %></h2>
<div class="alert alert-warning">       
  <div class="panel-body">
    <% if @query_for_matrix %>
      <ul class="pager pull-right">
        <li class="previous"><li class="previous"><%= link_to '&larr; Back'.html_safe, root_path, method: 'post', class: "previous" %></li></li>
      </ul>
    <% end %>
    <h5>Cancer Type: <strong><%= @cancer_type.abbreviation %>|<%= @cancer_type.name %></strong></h5>
    <h5>Firehose Version: <strong><%= @data_set.analysis_date %></strong></h5>
    <h5>Target set: <strong><%= @target_type_readable %></strong></h5>
    <h5>High Level Genomic: <strong><%= @high_level_genomic.category %></strong></h5>
    <h5>Clinical parameter: <strong><%= @clinical_parameter.name %></strong></h5>
    <% unless @clinical_parameter_sub_cat.blank? %>
      <h5>Clinical parameter sub category: <strong><%= @clinical_parameter_sub_cat.name %></strong></h5>
    <% end %>
  </div>
</div>
<p></p>                  

<!--%= render 'show_matrix_debugs' %-->

<% if @genomic_id_arr.blank? %>
  <div class="alert alert-danger center-block" style="width:35%; padding: 10px; margin-bottom:10px; text-align:center;">
    No data is currently available
  </div>
<% else %>
  <% # set up for default tab content panel %>
  <%  
    chart_title_default = [@cancer_type.abbreviation, 
                           @clinical_parameter.name, 
                           @target_name, 
                           get_genomic_readable_name(@genomic_id_arr.first)].join('-') 
  %>
  <%= tag("div", 
      id: "matrix_tab_default", 
      data: {genomic_id: @genomic_id_arr.first,
             target_name: @target_name,
             chart_title: chart_title_default}
  )%>
  <!-- tabs -->
  <ul class="nav nav-tabs" role="tablist" id="matrix_analysis_tabs" data-genomic-ids="<%= @genomic_id_arr %>">
  <% @genomic_id_arr.each do |genomic_id| %>
    <% 
      selector = "matrix_tab" if genomic_id == @genomic_id_arr.first #don't trigger the javascript
      selector = "matrix_tab_#{genomic_id}" unless genomic_id == @genomic_id_arr.first
      chart_title = [@cancer_type.abbreviation, 
                     @clinical_parameter.name, 
                     @target_name, 
                     get_genomic_readable_name(genomic_id)].join('-') 
    %>  
    <li role="presentation" class="">      
      <%= link_to "#{get_genomic_readable_name(genomic_id)}", 
          "#matrix_analysis_target_panel_#{genomic_id}",
          # this is the magic - id is selector that triggers the javascript 
          # to call action get_matrix_data that triggers it's javascript 
          # that renders the charts and tables 
          id: selector, 
          data: {toggle: "tab", 
                 genomic_id: genomic_id,
                 target_name: @target_name,
                 chart_title: chart_title} 
      %>
    </li>
  <% end # iterate @genomic_id_arr for tabs%>
  </ul>
  <!-- /tabs -->

  <!-- tab content panels -->
  <div class="tab-content">
    <% @genomic_id_arr.each do |genomic_id| %>
      <div role="tabpanel" class="tab-pane active" id="matrix_analysis_target_panel_<%= genomic_id %>">
        <div class="row">
          <div id="loading_icon_<%= genomic_id%>" class="text-center" style="padding-top: 10px; padding-bottom: 30px;">
            <%= image_tag("loading_icon.gif", alt:"Loading...") %>
          </div>
          <!-- charts col -->
          <div class="col-md-6" style="display:none" id="charts_col_<%= genomic_id %>">
            <ul class="list-group">
              <li class="list-group-item text-center">
               <!-- get_matrix_data.js renders chart partial here -->      
               <div id="chart_container_<%= genomic_id %>"></div>
              </li>
            </ul><!-- /list group -->
          </div><!-- /col -->
          <!-- /charts col -->

          <!-- tables col -->
          <div class="col-md-6" style="overflow-x: auto; display:none" id="tables_col_<%= genomic_id %>" >
            <div class="panel panel-default">
              <div class="panel-body">
                <!-- get_matrix_data.js renders data tables here -->
                <div id="data_tables_container_<%= genomic_id %>"></div>
              </div><!-- /panel-body -->
            </div><!-- /panel -->
          </div><!-- /col -->
          <!-- /tables col -->
        </div><!-- /row -->
      </div><!-- /tab-pane -->
    <% end # iterate @genomic_id_arr for tab content panels %>
  </div><!-- /tab-content -->
  <!-- /tab content panels -->
<% end # if @genomic_id_arr.blank? %>

<script>
  $(function () {
    $('#matrix_analysis_tabs a:first').tab('show')
  })
</script>

