<h2>Target Genomic by Target Genomic - Query results</h2>

<div class="alert alert-warning">       
  <div class="panel-body">
    <ul class="pager pull-right">
      <li class="previous"><a href="<%= root_path %>">&larr; Back</a></li>
    </ul>
    <h5>Cancer Type: <strong><%= @cancer_type.abbreviation %>|<%= @cancer_type.name %></strong></h5>
    <h5>Firehose Version: <strong><%= @data_set.analysis_date %></strong></h5>
    <h5>High Level Genomic: <%= @high_level_genomic.category %></h5>
    <h5 style="color: brown">Pair 1: 
        <%= @target_type %> - <%= @target_genomic_both_hash['target1'].keys[0] %> |
        Genomic - <%= get_genomic_readable_name(@genomic.id.to_i) %></h5>
    <h5 style="color: brown">Pair 2: 
        <%= @target_type2 %> - <%= @target_genomic_both_hash['target2'].keys[0] %> |
        Genomic - <%= get_genomic_readable_name(@genomic2.id.to_i) %></h5>
  </div>
</div>
<p></p>
<%
=begin%>                   
<% if Rails.env == 'development' %>
<%
=begin%>
<p>cp_conditions: <%= @cp_conditions %>

<p>clinical_param_sample_ids: <%= @clinical_param_sample_ids %></p>
<p>clinical_param_values: <%= @clinical_param_values.uniq %></p>

<p>target: <%= @target.inspect %></p>
<p>target type value conditions: <%= @ttv_conditions %></p>


<p>target type value class name: <%= @target_type_value_class_name %></p>
<p>target type values length: <%= @target_type_values.length %></p>

<table class="table-condensed table-bordered" style="width:75%">
  <tr>
    <th>sample</th>
    <th>genomic</th>
    <th>value</th>
  </tr>
<% @target_type_values.each do |v| %>
  <tr>
    <td><%= v.sample.sample_code %></td>
    <td><%= v.genomic.name%></td>
    <td><%= v.gene_value %></td>
  </tr>
<% end %>
</table>
<%
=end %>
<!--% end # /if env %-->

<!--%= render 'show_matrix_debugs' %-->
<%= render 'query_target_genomic_result' %>


