$stanford_red: #990000;
$grayMediumDark: #555;
$grayMedium: #999;
$grayMediumLight: #eaeaea;
$grayLight: #e5e5e5;

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  /*padding-top: 60px;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {  
  h1 { 
    font-size: 35px; 
  }
  h2 { 
    font-size: 30px; 
  }
  p, li, td {
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 300;
  }
  th {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
}
 
/* used with jumbotron */ 
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;  
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grayMediumDark;
}

h3 {
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
}

p, li {
  font-size: 1em;
  line-height: 1.5em;
}

.page-header {
  margin: 20px 0;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  font-weight: bold;
  &:hover {
    color: $stanford_red;
  }
  text-decoration: none;
}

a, a:hover, a:active, a:visited { outline: none; }

/* header */
header {
  nav ul.nav li a.active {
    background-color: #000;
    color: white;
  }
  
  .navbar-text { 
    margin-top: 0;
    margin-bottom: 0;
    line-height:3;
  }
}

/* footer */
footer {
  color: #aaa !important;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
    a {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
      text-decoration:none;
    }  
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* text */
.bold-lite { font-weight: normal}

/* tabs */
.tab-pane { padding-top: 10px; }

.nav > li > a { font-weight: bold; }

.nav-tabs > li > a, .nav > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: #c0c0c0 #c0c0c0 transparent;
}

.nav > li > a:hover { 
  background-color: #e5e5e5;
}

