// Place all the styles related to the HighLevelSummary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item { padding: 10px; }

.list-group-item.active {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    z-index: 2;
}

.list-unstyled, .list-inline {
  font-size: .9em;
}

form { 
  .radio-inline { 
    padding-left:0;
    padding-right: 15px;
  } 
}

.table { margin-bottom: 0 }

.high_level_summaries .table-condensed > thead > tr > th, .high_level_summaries .table-condensed > thead > tr > td, .high_level_summaries .table-condensed > tbody > tr > th, .high_level_summaries .table-condensed > tbody > tr > td, .high_level_summaries .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
  padding:2px;
  font-size: .85em;
}



