// Place all the styles related to the OutcomeSummaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.plus_minus { color: #e5e5e5 }
td.bluebg { background-color: #a3c6fb !important }
td.pinkbg { background-color: #f6a2ac !important }

.outcome_summaries .table-condensed > thead > tr > th, .outcome_summaries .table-condensed > thead > tr > td, .outcome_summaries .table-condensed > tbody > tr > th, .outcome_summaries .table-condensed > tbody > tr > td, .outcome_summaries .table-condensed > tfoot > tr > th, .outcome_summaries .table-condensed > tfoot > tr > td {
  padding:4px 8px;
  font-size: 1em;
  min-width: 70px;
  vertical-align: middle;
}
 
#chart_container {
    width:0 auto;
} 

#outcome_summary_wrapper {
  max-width: 90%;
  margin: 20px auto;
}

div.dataTables_processing { display:none }

div.dataTables_info { font-weight: bold }

.list-group-chart { margin-bottom: 0 }

.status_alert {
    font-size: 1em;
    margin-bottom: 20px !important;
    padding: 10px 20px !important;
}
