// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p { margin: 0 14px 14px }

.target-selection { font-size: 14px; }
.target-selection th { font-size: 14px; }
.target-selection td { 
  font-size: 12px;
  font-weight: normal;
}

