// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.welcome, li.welcome {
  font-size: .75em;
  line-height: 1.3em;
  color: #555;
}

p.info {
  font-size: .5em;
  line-height: 1em;
  font-style: italic;
  color: #555;
}

li.label { background-color: #d9edf7 }

/* custom rules for carousel slider */

.item {
    height: auto;
  }
/*
form {
  width:100%;
  color:#555;
  .query_select {
    display:inline; 
    width:80%; 
    height:32px;
  }
}
*/
.form-control, .form-group { font-size: 14px; font-weight: normal}

.carousel {
	width: 85%;
	margin: auto;
}

.carousel-control {
	color: #000000;
	font-size: 30px;
	opacity: .65;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	background-repeat: no-repeat;
	top: 5px;
  height:0;
}

.carousel-control.left {
  left: 8%;
  right: auto;
}

.carousel-control.right {
  right: 8%;
  left: auto;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
	top:11%;
}

.carousel-indicators {
  bottom: -30px;
  li {
      background-color: #FFFFFF;
      border: 1px solid #8C1515;
      height: 12px;
      width: 12px;
      margin:0;
  }
}

.carousel-indicators li.active, .carousel-indicators li:hover {
    background-color: #8C1515;
}

.screen-reader {
    display: inline-block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}

h2.panel-title  { font-size: 1.1em; }
h3.panel-title  { font-size: .9em; }

.query-error {
  font-size: .75em;
  font-weight: normal;
  line-height: 1em;
  padding: 8px 4px !important;
}

.alert { 
  padding: 0; 
  margin-top:10px;
  margin-bottom:0;
}
