<table id="gene_frequency_cn" class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th class="text-center">Cancer Type</th>      
      <th class="text-center">Total Samples</th>
      <th class="text-center">Total Frequency</th>
      <th class="text-center">Homozygous Deletion</th>
      <th class="text-center">Hemizygous Deletion</th>
      <th class="text-center">No Change</th>
      <th class="text-center">Gain</th>
      <th class="text-center">Amplification</th>
    </tr>
  </thead>
  <tbody> 
  <% @gene_cn_frequency.each do |f| %>
    <tr>
      <td class="text-center"><%= f.cancer_type.abbreviation %></td>
      <td class="text-center"><%= f.total_samples %></td>
      <td class="text-center"><%= f.total_percent %></td>
      <td class="text-center"><%= f.homozygous_del %></td>
      <td class="text-center"><%= f.hemizygous_del %></td>
      <td class="text-center"><%= f.no_change %></td>
      <td class="text-center"><%= f.gain %></td>
      <td class="text-center"><%= f.amplification %></td>
    </tr>
  <% end # iterate frequencies %>
  </tbody>
</table>