<table id="gene_frequency_mut" class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th class="text-center">Cancer Type</th>      
      <th class="text-center">Total Samples</th>
      <th class="text-center"># Mutated Samples</th>
      <th class="text-center">Frequency</th>
    </tr>
  </thead>
  <tbody> 
  <% @gene_mut_frequency.each do |f| %>
    <tr>
      <td class="text-center"><%= f.cancer_type.abbreviation %></td>
      <td class="text-center"><%= f.total_samples %></td>
      <td class="text-center"><%= f.num_mutated_samples %></td>
      <td class="text-center"><%= f.frequency %></td>
    </tr>
  <% end # iterate frequencies %>
  </tbody>
</table>

