  <thead>
    <tr>
      <% if @query_for_outcome_summary %>
        <th class="text-center">Cancer Type</th>
        <th class="text-center">Clinical Parameter</th>
      <% end %>
      <th class="text-center">Rank</th>
      <th class="text-center">miRNA</th>
      <th class="text-center">Copy Number</th>
      <th class="text-center">miR expression</th>
      <th class="text-center">P-value</th>
    </tr>
  </thead>
  <tbody>
  <% @outcome_summaries.each do |summary| %>
    <tr>
      <% if @query_for_outcome_summary %>
        <td class="text-center"><%= summary.cancer_type.abbreviation %></td>
        <td class="text-center"><%= summary.clinical_parameter.name %></td>
      <% end %> 
      <td class="text-center"><%= summary.rank %></td>
      <td><%= link_to summary.target.name, matrix_query_path(
                                             cancer_type_id: summary.cancer_type.id, 
                                             target_name: summary.target.name, 
                                             target_type: summary.target_type,
                                             clinical_parameter_id: summary.clinical_parameter.id,
                                           ), class: "btn btn-default btn-xs", data: { no_turbolink: true } %></td>
      <% if summary.copy_number =~ /\s0/ %>
        <td class="text-center" style="color: #000"><%= summary.copy_number.gsub(/\s0/, '') %>
      <% else %>
        <td class="plus_minus text-center"><%= summary.copy_number %>
      <% end %>
      </td>
      <% if summary.mi_rna_expression =~ /\s0/ %>
        <td class="text-center" style="color: #000"><%= summary.mi_rna_expression.gsub(/\s0/, '') %>
      <% else %>
        <td class="plus_minus text-center"><%= summary.mi_rna_expression %>
      <% end %>
      </td>
      <td class="text-center"><%= display_pvals(summary.p_values) %></td>
    </tr>
  <% end # iterate outcome_summaries %>
  </tbody>
