<h2>Outcome summary - <%= get_target_type_readable_name(@target_set.id) %><%= " - #{@target_name}" unless @target_name.blank? %><%= ", #{@clinical_parameter.name}" unless @clinical_parameter.blank? %></h2>
<div class="alert alert-success">       
  <div class="panel-body">
<% if @query_for_outcome_summary %>
    <ul class="pager pull-right">
      <li class="previous"><%= link_to '&larr; Back'.html_safe, root_path, method: 'post', class: "previous" %></li>
    </ul>
<% end %>
    <div class="col-md-6">
      <% unless @cancer_type.blank? %>
        <h5>Cancer Type: <strong><%= @cancer_type.abbreviation %>|<%= @cancer_type.name %></strong></h5>
      <% end %>
      <h5>Firehose Version: <strong><%= @data_set.analysis_date %></strong></h5>
      <h5>Target set: <strong><%= get_target_type_readable_name(@target_set.id) %></strong></h5>
      <h5>High Level Genomic: <strong><%= @high_level_genomic.category %></strong></h5>
      <% unless @status.blank? %>      
        <h5>Status: <strong><%= @status.gsub(/([a-z])([A-Z])/, '\1 \2') %></strong></h5>
      <% end %>
      <% unless @clinical_parameter.blank? %>
        <h5>Clinical parameter: <strong><%= @clinical_parameter.name %></strong></h5>
      <% end %>
      <% unless @clinical_parameter_sub_cat.blank? %>
        <h5>Clinical parameter sub category: <strong><%= @clinical_parameter_sub_cat.name %></strong></h5>
      <% end %> 
    </div>
    <% if @chart_data && @chart_data[0].length > 0 %>
    <% chart_title = "#{get_target_type_readable_name(@target_set.id)}|#{@clinical_parameter.name}" %>
    <div class="col-md-6">
      <ul class="list-group-chart">
        <li class="list-group-item">
          <%= tag("div", id: "pie_chart_container", data: {title: chart_title, :'chart-data-array' => @chart_data[0]}, style: "width:100%; height:100%;") %>
        </li>
      </ul>
    </div>
    <% end %>
  </div><!-- /panel body -->
</div><!-- /alert -->
<p></p>

<% outcome_summ_table_partial = '' %>
<% if @status.blank? || @status.match('ClinicallyRelevant') %>
  <% if @target_set.name.match('TargetGenes') %>
    <% table_id = outcome_summ_table_partial = 'outcome_summary_table_genes' %>    
  <% elsif @target_set.name.match('Allprotein') %>
    <% table_id = outcome_summ_table_partial = 'outcome_summary_table_proteins' %> 
  <% elsif @target_set.name.match('AllmiR') %>
    <% table_id = outcome_summ_table_partial = 'outcome_summary_table_mirs' %> 
  <% end %>
<% end %>

<ul class="nav nav-tabs" role="tablist" id="outcome_summary_tabs">
  <li role="presentation" class="active"><a href="#outcome_summary" aria-controls="home" role="tab" data-toggle="tab">Outcome Summary</a></li>
  <% unless @status.blank? # won't show these unless view is from a query %>
    <li role="presentation"><a href="#frequency_mut" aria-controls="profile" role="tab" data-toggle="tab">Frequency - Mutation</a></li>
    <li role="presentation"><a href="#frequency_cn" aria-controls="messages" role="tab" data-toggle="tab">Frequency - Copy Number</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="outcome_summary">
    <% if @status && @status.match('Candidate') %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= content_tag :div, 'This gene was included for Elastic-net analysis, but no association with clinical parameters was found.', class: 'alert alert-danger status_alert text-left' %>
        </div><!-- /col -->
      </div><!-- /row -->     
    <% elsif @status && @status.match('Excluded') %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= content_tag :div, 'This gene was not included for Elastic-net analysis.', class: 'alert alert-danger status_alert text-left' %>
        </div><!-- /col -->
      </div><!-- /row -->         
    <% else %>
      <table id="<%= table_id %>" data-formqueryrequest="<%= @query_for_outcome_summary %>" class="table table-striped table-bordered table-condensed">
        <%= render outcome_summ_table_partial %>
      </table>
      <p style="padding-left:82%"><%= Version::CURRENT_VERSION.pvalue_msg %></p>
    <% end %>
  </div><!-- /tab-pane for outcome summary -->
  <div role="tabpanel" class="tab-pane" id="frequency_mut">
    <% if @gene_mut_frequency.blank? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= content_tag :div, 'Mutation Frequency data not available.', class: 'alert alert-info status_alert text-left' %>
        </div><!-- /col -->
      </div><!-- /row --> 
    <% else %>
      <%= render 'frequency_table_genes_mut' %>
    <% end %>
  </div><!-- /tab-pane for frequency -->
  <div role="tabpanel" class="tab-pane" id="frequency_cn">
    <% if @gene_cn_frequency.blank? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= content_tag :div, 'Copy Number Frequency data not available.', class: 'alert alert-info status_alert text-left' %>
        </div><!-- /col -->
      </div><!-- /row -->
    <% else %> 
      <%= render 'frequency_table_genes_cn' %>
    <% end %>
  </div><!-- /tab-pane for frequency -->
</div><!-- /tab-content -->

<script>
  $(function () {
    $('#outcome_summary_tabs a:first').tab('show')
  })
</script>


