<h1 style="font-size: 1.55em;text-align: center; margin-top:1em;">Search Genes <% unless select_input.blank? %><%= ": #{select_input.gsub('|', ', ')}" %><% end %></h1>
<br>
<% @headings.unshift('Clinical Feature') %>
<% @headings.pop(4) %>
<table class="outcome" id="<%= data_table_id %>">
  <thead>							
  <tr>
  	<%  @headings.each do |heading1| %>
  	<th style="padding:2px"><%= heading1 %></th>
  	<% end %>
  </tr>
  </thead>
  <tbody>
  <% @outcome_table_all_hash.each_pair do |feature, data| %>
    <% data.each do |row| %>  
    <tr>
  	  <td><%= feature %></td>  	              
      <td><%= row[0] %></td>
      <td style="font-style:italic;"><%= row[1] %></td>
      <td><%= row[2] %></td>
      <td><%= row[3] %></td>
      <td><%= raw to_arrow(row[4]) %></td>
      <td><%= raw to_arrow(row[5]) %></td>
      <td style="text-align:center"><%= raw to_arrow(row[6]) %></td>
      <td style="text-align:center"><%= raw to_arrow(row[7]) %></td>
      <td class="break-long-string" style="text-align:left"><%= raw row[8].gsub(',', ',<br>') %></td>
      <td><%= row[9] %></td>
    </tr> 
    <% end %>
  <% end %>
  </tbody>
</table>

 
      