<footer class="footer">
  <div class="pull-left">
    <small>
      <%= link_to image_tag("SU_Seal_Card_pos_89.gif", alt: "Stanford University"), 'http://stanford.edu/' %>
    </small>
    <small style="margin-left:10px">Site by <a href="http://dna-discovery.stanford.edu">Ji Research Group</a><br>
              Queries and comments:<br><%= mail_to "pan-tcga-project@stanford.edu" %><br>
              &copy; <%= Time.now.year %> Stanford University.<br>All rights reserved.
    </small>
  </div>

  <div class="pull-right">
    <nav>
      <ul>
        <li><%= link_to "Home",              root_path, method: 'post' %></li>
        <li><%= link_to "Project Overview",  project_overview_path %></li>
        <li><%= link_to "Analysis Pipeline", analysis_pipeline_path %></li>
        <li><%= link_to "Target Selection",  target_selection_path %></li>
        <li><%= link_to "Data Information",  data_information_path %></li>
        <li><%= link_to "Data Download",     data_download_path %></li>
        <li><%= link_to "Tutorial",          tutorial_path %></li>    
        <li><%= link_to "About",             about_path %></li>
      </ul>
    </nav>
 
    <table class="table table-condensed table-bordered pull-right" style="margin-bottom: 10px; width: 44%">
      <tr>
        <th colspan="2" class="text-left"><span style="font-weight: normal">Funding provided by:</span></th>
      </tr>
      <tr>
        <td style="height: 70px"><%= link_to image_tag("NCI-logo.png"), "http://www.cancer.gov/" %></td>
        <td style="height: 70px"><%= link_to image_tag("CTD2-logo-sm-bw.jpg"),  "https://ocg.cancer.gov/programs/ctd2" %></td>
      </tr>
    </table>
  </div>
</footer>