<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Stanford-TCGA-CE", root_path, method: 'post', class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <li><%= link_to "Home",              root_path, method: 'post', class:(request.fullpath == root_path ? "active" : '') %></li>
        <li><%= link_to "Project Overview",  project_overview_path,     class:(request.fullpath == project_overview_path ? "active" : '') %></li>
        <li><%= link_to "Analysis Pipeline", analysis_pipeline_path,    class:(request.fullpath == analysis_pipeline_path ? "active" : '') %></li>
        <li><%= link_to "Target Selection",    target_selection_path,   class:(request.fullpath == target_selection_path ? "active" : '') %></li>
        <li><%= link_to "Data Information",  data_information_path,      class:(request.fullpath == data_information_path ? "active" : '') %></li>
        <li><%= link_to "Data Download",     data_download_path,         class:(request.fullpath == data_download_path ? "active" : '') %></li>
        <li><%= link_to "Tutorial", tutorial_path,                       class:(request.fullpath == tutorial_path ? "active" : '') %></li>    
        <li><%= link_to "About", about_path,                             class:(request.fullpath == about_path ? "active" : '') %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>


